node_modules/
dist
src/global
src/doc
src/genericbookmark
src/field
src/genericderivedfields
src/genericdimension
src/genericmeasure
src/genericobject
src/genericvariable
src/variable
_book
.tmp
.DS_Store