* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    background-color:#1E2831;
    background-image: radial-gradient(circle farthest-corner at 95% 33% , #394E5A 0%, #1E2831 95%);
}

#sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    text-align: center;
    padding-top: 20px;
}

#topbar {
    position: fixed;
    height: 71px;
    width: calc(100% - 220px);
    left: 220px;
    border-left: 1px solid #485259;
    padding-left: 60px;
}

#server-title {
    font-size: 28px;
    font-weight: 300;
    margin-top: 25px;
    float: left;
}

#content {
    position: fixed;
    top: 71px;
    left: 220px;
    width: calc(100% - 220px);
    height: calc(100% - 71px);
    //border: 1px solid red;
    overflow-y: auto;
}

#streams {
    width: 100%;
    padding-left: 60px;
    padding-top: 45px;
    //border: 1px solid red;
}

#server-list {
    margin-top: 63px;
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.server-item {
    height: 46px;
    color: #8E9398;
    line-height: 46px;
    text-align: start;
    cursor: pointer;
}

.server-item.active {
    background-color: #2C3C47;
    color: white;
}

.dot {
    border-radius: 100%;
    width: 9px;
    height: 9px;
    background-color: white;
    display: inline-block;
    margin: 0px 15px;
    opacity: 0.58;
}

.server-item.active .dot {
    opacity: 1;
}

.app-ct {
    font-size: 14px;
    float: right;
    margin-right: 15px;
}

#app-search {
    float: right;
    width: 327px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 51px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #57666F;
    font-size: 18px;
    color: #D8E2EB;
    background: url(../resources/search.svg) no-repeat scroll 0px 8px;
    padding-left: 22px;
}

#app-search::-webkit-input-placeholder {
    color: rgba(255,255,255.7);
    font-style: italic;
    font-weight: 300;
}

.divider {
    border-top: 1px solid #485259;
}

#sort-cont {
    width: 161px;
    height: 28px;
    border: 1px solid #8FA2B3;
    border-radius: 3px;
    display: inline-block;
    margin-top: 28px;
    background: #2D3841; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2D3841, #28343D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2D3841, #28343D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2D3841, #28343D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2D3841, #28343D); /* Standard syntax */
}

#sort-dir {
    float: left;
    height: 100%;
    width: 36px;
    border-right: 1px solid #8FA2B3;
    text-align: center;
}

#sort-dir img {
    margin-top: 4px;
}

select {
    float: left;
    width: calc(100% - 36px);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #8FA2B3;
    font-size: 13px;
    font-weight: 500;
    padding-left: 8px;
}

#select-sort {
    position: relative;
}

#select-sort:after {
    content: url(../resources/down-arrow.svg);
    pointer-events: none;
    position: absolute;
    right: 7px;
    top: 11px;
}

.flipped {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.stream-row {
    margin-bottom: 20px;
}

.stream-title-bar {
    margin-bottom: 20px;
}

.stream-title {
    display: inline-block;
    color: #D8E2EB;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    vertical-align: middle;
}

.server-banner {
    display: inline-block;
    border-radius: 69px;
    padding: 2px 12px;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

.doc-tile {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.doc-tnail {
    width: 237px;
    height: 168px;
    background: rgba(255,255,255,.38); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255,255,255,.38), rgba(255,255,255,.25)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,.38), rgba(255,255,255,.25)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,.38), rgba(255,255,255,.25)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,.38), rgba(255,255,255,.25)); /* Standard syntax */
    text-align: center;
    padding-top: 35px;
    position: relative;
}

.doc-tnail-anchor {
    position: absolute;
    bottom: 0px;
    height: 6px;
    width: 100%;
    opacity: 0.69;
    -webkit-transition: height .35s; 
    -moz-transition: height .35s; 
    -ms-transition: height .35s; 
    -o-transition: height .35s; 
    transition: height .35s;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 14px;
}

.doc-tnail-anchor .doc-desc{
    padding: 10px;
    opacity: 1;
    height: 93%;
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: start;
}

.doc-tile:hover .doc-tnail-anchor {
    height: 100%;
}

.doc-tnail img {
    opacity: 1;
     -webkit-transition: opacity .35s; 
    -moz-transition: opacity .35s; 
    -ms-transition: opacity .35s; 
    -o-transition: opacity .35s; 
    transition: opacity .35s; 
}

.doc-tile:hover .doc-tnail img {
    opacity: 0;
}

.doc-title {
    font-size: 16px;
    font-weight: 400;
}

.doc-publish-date {
    font-size: 14px;
    color: rgba(255,255,255,.62);
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}